<template name="studentList">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {{#each students}}
                <tr>
                    <td><a href="{{pathFor route='studentDetails'}}">{{firstName}} {{lastName}}</a></td>
                    <td>{{email}}</td>
                    <td>{{age}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
